RewriteEngine On
DirectoryIndex index.php.html
AddType application/x-httpd-php .html .htaccess
ErrorDocument 404 "<h1>404, Not Found</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 403 "<h1>403, Forbidden</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 500 "<h1>500, Internal Server Error</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 401 "<h1>401, Unauthorized</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 400 "<h1>400, Bad Request</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 502 "<h1>502, Bad Gateway</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 505 "<h1>505, HTTP version not supported</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"