RewriteEngine On
DirectoryIndex index.php index.html
ErrorDocument 404 "<title>404, Not Found</title><h1>404, Not Found</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 403 "<title>403, Forbidden</title><h1>403, Forbidden</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 500 "<title>500, Internal Server Error</title><h1>500, Internal Server Error</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 401 "<title>401, Unauthorized</title><h1>401, Unauthorized</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 400 "<title>400, Bad Request</title><h1>400, Bad Request</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 502 "<title>502, Bad Gateway</title><h1>502, Bad Gateway</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"
ErrorDocument 505 "<title>505, HTTP version not supported</title><h1>505, HTTP version not supported</h1><p>Powerd by <a href="https://github.com/pisoj/kaly-calculator/">KALY Calculator</a></p>"