#top {
    font-family: Arial;
    font-size: 70px;
    background-color: SlateBlue;
    border-radius: 5px;
    color: white;
}
#bottom {
    font-family: Arial;
    font-size: 48px;
    background-color: SlateBlue;
    border-radius: 5px;
    color: white;
}
#invisible {
    font-size: 0px;
}
#byLink {
    color: white;
}
#calculate {
    background-color: SlateBlue;
    font-family: Arial;
    font-size: 72px;
    font-style: italic;
    border: 12px outset SlateBlue;
    border-radius: 8px;
    color: white;
    width: 70%;
    height: 10%;
    margin-bottom: 3%;
}
#theme-value {
    display: none;
}
#theme {
    background-color: SlateBlue;
    font-family: Arial;
    font-size: 48px;
    font-style: italic;
    border: 12px outset SlateBlue;
    border-radius: 8px;
    color: white;
    width: 50%;
    height: 10%;
    margin-bottom: 3%;
}